SFIClient/Connected Services/SFIServices/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" />
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q1:DataTypeExample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetAllCreditTypesResult" nillable="true" type="q2:ArrayOfCreditType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCredits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetAllCreditsResult" nillable="true" type="q3:ArrayOfCredit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="newApplication" nillable="true" type="q4:CreditApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditApplicationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetAllCreditApplicationsResult" nillable="true" type="q5:ArrayOfCreditApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverCreditApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverCreditApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverCreditApplicationResult" nillable="true" type="q6:CreditApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateApprovedDictum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="allPolicies" nillable="true" type="q7:ArrayOfCreditGrantingPolicy" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="policesThatApply" nillable="true" type="q8:ArrayOfCreditGrantingPolicy" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="dictum" nillable="true" type="q9:Dictum" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="creditApplication" nillable="true" type="q10:CreditApplication" />
        <xs:element minOccurs="0" name="amountApproved" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateApprovedDictumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateApprovedDictumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverCreditConditionsByCreditType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditTypeIdentifier" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverCreditConditionsByCreditTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverCreditConditionsByCreditTypeResult" nillable="true" type="q11:ArrayOfCreditCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="NewCondition" nillable="true" type="q12:CreditCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterCreditConditionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverAllCreditConditions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverAllCreditConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverAllCreditConditionsResult" nillable="true" type="q13:ArrayOfCreditCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverCreditConditionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverCreditConditionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverCreditConditionDetailsResult" nillable="true" type="q14:CreditCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="updateCreditCondition" nillable="true" type="q15:CreditCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCreditConditionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUsageInCreditApplications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUsageInCreditApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyUsageInCreditApplicationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUsageInRegimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conditionIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUsageInRegimenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyUsageInRegimenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditGrantingPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="NewPolicy" nillable="true" type="q16:CreditGrantingPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditGrantingPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterCreditGrantingPolicyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditGrantingPolicies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditGrantingPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetAllCreditGrantingPoliciesResult" nillable="true" type="q17:ArrayOfCreditGrantingPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverActivesCreditGrantingPolicies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverActivesCreditGrantingPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverActivesCreditGrantingPoliciesResult" nillable="true" type="q18:ArrayOfCreditGrantingPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditGrantingPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="policy" nillable="true" type="q19:CreditGrantingPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditGrantingPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCreditGrantingPolicyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="LoginResult" nillable="true" type="q20:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverClientsResult" nillable="true" type="q21:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverBankDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverBankDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverBankDetailsResult" nillable="true" type="q22:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="bankAccount" nillable="true" type="q23:BankAccount" />
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBankAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="client" nillable="true" type="q24:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverPersonalReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverPersonalReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverPersonalReferencesResult" nillable="true" type="q25:ArrayOfPersonalReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonalReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="personalReference" nillable="true" type="q26:PersonalReference" />
        <xs:element minOccurs="0" name="currentIneKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonalReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePersonalReferenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientRfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverClientResult" nillable="true" type="q27:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>