SFIClient/Connected Services/SFIServices/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" />
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q1:DataTypeExample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetAllCreditTypesResult" nillable="true" type="q2:ArrayOfCreditType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCredits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetAllCreditsResult" nillable="true" type="q3:ArrayOfCredit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="newApplication" nillable="true" type="q4:CreditApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditApplicationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverCreditConditionsByCreditType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditTypeIdentifier" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverCreditConditionsByCreditTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="RecoverCreditConditionsByCreditTypeResult" nillable="true" type="q5:ArrayOfCreditCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditGrantingPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="NewPolicy" nillable="true" type="q6:CreditGrantingPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCreditGrantingPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterCreditGrantingPolicyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditGrantingPolicies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditGrantingPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="GetAllCreditGrantingPoliciesResult" nillable="true" type="q7:ArrayOfCreditGrantingPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" minOccurs="0" name="LoginResult" nillable="true" type="q8:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>