SFIClient/Connected Services/SFIServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataTypeExample">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsExample" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTypeExample" nillable="true" type="tns:DataTypeExample" />
  <xs:complexType name="ArrayOfCreditType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditType" nillable="true" type="tns:CreditType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditType" nillable="true" type="tns:ArrayOfCreditType" />
  <xs:complexType name="CreditType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditType" nillable="true" type="tns:CreditType" />
  <xs:complexType name="ArrayOfCreditCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditCondition" nillable="true" type="tns:CreditCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditCondition" nillable="true" type="tns:ArrayOfCreditCondition" />
  <xs:complexType name="CreditCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvancePaymentReduction" type="xs:double" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestOnArrears" type="xs:double" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:double" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIvaApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentMonths" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCondition" nillable="true" type="tns:CreditCondition" />
</xs:schema>