SFIClient/Connected Services/SFIServices/SFIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SFIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceExample_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ICreditsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ICreditConditionsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPolicyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SFIDataAccess.CustomExceptions" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SFIDataAccess.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceExample_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceExample_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceExample_GetDataUsingDataContract_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SFIDataAccess.CustomExceptions" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_GetAllCreditTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCreditTypes" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_GetAllCreditTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCreditTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_GetAllCreditTypes_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SFIDataAccess.CustomExceptions" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_GetAllCredits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCredits" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_GetAllCredits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCreditsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_GetAllCredits_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SFIDataAccess.CustomExceptions" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_RegisterCreditApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCreditApplication" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_RegisterCreditApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCreditApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditsService_RegisterCreditApplication_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SFIDataAccess.CustomExceptions" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICreditConditionsService_RecoverCreditConditionsByCreditType_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoverCreditConditionsByCreditType" />
  </wsdl:message>
  <wsdl:message name="ICreditConditionsService_RecoverCreditConditionsByCreditType_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoverCreditConditionsByCreditTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditConditionsService_RecoverCreditConditionsByCreditType_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/SFIDataAccess.CustomExceptions" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_RegisterPolicyGranting_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPolicyGranting" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_RegisterPolicyGranting_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPolicyGrantingResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_RegisterPolicyGranting_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/SFIDataAccess.CustomExceptions" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IServiceExample">
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceExample/GetDataUsingDataContract" message="tns:IServiceExample_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceExample/GetDataUsingDataContractResponse" message="tns:IServiceExample_GetDataUsingDataContract_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceExample/GetDataUsingDataContractServiceFaultFault" name="ServiceFaultFault" message="tns:IServiceExample_GetDataUsingDataContract_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICreditsService">
    <wsdl:operation name="GetAllCreditTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditsService/GetAllCreditTypes" message="tns:ICreditsService_GetAllCreditTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditsService/GetAllCreditTypesResponse" message="tns:ICreditsService_GetAllCreditTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICreditsService/GetAllCreditTypesServiceFaultFault" name="ServiceFaultFault" message="tns:ICreditsService_GetAllCreditTypes_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCredits">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditsService/GetAllCredits" message="tns:ICreditsService_GetAllCredits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditsService/GetAllCreditsResponse" message="tns:ICreditsService_GetAllCredits_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICreditsService/GetAllCreditsServiceFaultFault" name="ServiceFaultFault" message="tns:ICreditsService_GetAllCredits_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCreditApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditsService/RegisterCreditApplication" message="tns:ICreditsService_RegisterCreditApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditsService/RegisterCreditApplicationResponse" message="tns:ICreditsService_RegisterCreditApplication_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICreditsService/RegisterCreditApplicationServiceFaultFault" name="ServiceFaultFault" message="tns:ICreditsService_RegisterCreditApplication_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICreditConditionsService">
    <wsdl:operation name="RecoverCreditConditionsByCreditType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditConditionsService/RecoverCreditConditionsByCreditType" message="tns:ICreditConditionsService_RecoverCreditConditionsByCreditType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditConditionsService/RecoverCreditConditionsByCreditTypeResponse" message="tns:ICreditConditionsService_RecoverCreditConditionsByCreditType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICreditConditionsService/RecoverCreditConditionsByCreditTypeServiceFaultFault" name="ServiceFaultFault" message="tns:ICreditConditionsService_RecoverCreditConditionsByCreditType_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPolicyService">
    <wsdl:operation name="RegisterPolicyGranting">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/RegisterPolicyGranting" message="tns:IPolicyService_RegisterPolicyGranting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/RegisterPolicyGrantingResponse" message="tns:IPolicyService_RegisterPolicyGranting_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPolicyService/RegisterPolicyGrantingServiceFaultFault" name="ServiceFaultFault" message="tns:IPolicyService_RegisterPolicyGranting_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceExample" type="tns:IServiceExample">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceExample_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IServiceExample/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICreditsService" type="tns:ICreditsService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICreditsService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllCreditTypes">
      <soap12:operation soapAction="http://tempuri.org/ICreditsService/GetAllCreditTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllCredits">
      <soap12:operation soapAction="http://tempuri.org/ICreditsService/GetAllCredits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterCreditApplication">
      <soap12:operation soapAction="http://tempuri.org/ICreditsService/RegisterCreditApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICreditConditionsService" type="tns:ICreditConditionsService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICreditConditionsService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RecoverCreditConditionsByCreditType">
      <soap12:operation soapAction="http://tempuri.org/ICreditConditionsService/RecoverCreditConditionsByCreditType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPolicyService" type="tns:IPolicyService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPolicyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterPolicyGranting">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/RegisterPolicyGranting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SFIService">
    <wsdl:port name="NetTcpBinding_IServiceExample" binding="tns:NetTcpBinding_IServiceExample">
      <soap12:address location="net.tcp://localhost:8081/SFIService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/SFIService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICreditsService" binding="tns:NetTcpBinding_ICreditsService">
      <soap12:address location="net.tcp://localhost:8081/SFIService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/SFIService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICreditConditionsService" binding="tns:NetTcpBinding_ICreditConditionsService">
      <soap12:address location="net.tcp://localhost:8081/SFIService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/SFIService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPolicyService" binding="tns:NetTcpBinding_IPolicyService">
      <soap12:address location="net.tcp://localhost:8081/SFIService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/SFIService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>